# ============================================================
# Python
# ============================================================

__pycache__/
*.pyc
*.pyo

# ============================================================
# Virtual environments
# ============================================================

.venv/
venv/

# ============================================================
# Jupyter
# ============================================================

.ipynb_checkpoints/

# ============================================================
# IDE
# ============================================================

.vscode/

# ============================================================
# MLflow
# ============================================================

mlruns/
mlartifacts/

# ============================================================
# Raw data
# ============================================================

data/raw/

# ============================================================
# Generated training datasets
# ============================================================

data/processed/*.csv
data/processed/*.parquet
data/production/

# Reference datasets generated automatically
data/reference/*.parquet
data/reference/*.csv

# Keep only reference statistics
!data/reference/reference_stats.json

# ============================================================
# Pytest
# ============================================================

.pytest_cache/

# ============================================================
# Operating system
# ============================================================

.DS_Store
Thumbs.db
.env